* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Body */
body {
  font-family: "Poppins";
  background-color: #f0f0f3;
}
.pokemon-container {
  height: 600px;
  width: 392px;
  border-radius: 25px;
  background-color: #efeff2;
  box-shadow: -10px -10px 10px white, 10px 10px 10px rgba(174, 174, 192, 0.4);
  margin: 10%;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.pokemon-img {
  position: relative;
  text-align: center;
  /* background-color: aqua; */
  z-index: 1;
  top: 30px;
}
.background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #efeff2;
  box-shadow: -10px -10px 10px white, 10px 10px 10px rgba(174, 174, 192, 0.4);
  width: 208px;
  height: 208px;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.bar {
  position: absolute;
  width: 185px;
  height: 185px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border-style: solid;
  border-width: 10px;
  border-color: rgb(106, 218, 21) rgba(255, 255, 255, 0.15) transparent
    rgb(106, 218, 21);
  /* background-color: violet; */
  z-index: -1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.pokemon-info {
  /* background-color: aquamarine; */
  text-align: center;
  font-size: 20px;
  padding: 30px;
}
.pokemon-info h1 {
  font-size: 40px;
}
.pokemon-info span {
  font-size: 18px;
}
.pokemon-skills p {
  font-size: 20px;
}
.pokemon-skills {
  /* background-color: rebeccapurple; */
  width: 340px;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.move__special,
.move__special2,
.move__special3 {
  padding-bottom: 15px;
}
.move__special::before {
  content: "";
  width: 217px;
  height: 10px;
  position: absolute;
  background: #7ed876;
  margin-top: 0.35rem;
  margin-left: 7rem;
  border: solid 0.12rem #b8c9ff;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.move__special2::before {
  content: "";
  width: 217px;
  height: 10px;
  position: absolute;
  background: #7ed876;
  margin-top: 0.35rem;
  margin-left: 7rem;
  border: solid 0.12rem #b8c9ff;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.move__special3::before {
  content: "";
  width: 217px;
  height: 10px;
  position: absolute;
  background: #7ed876;
  margin-top: 0.35rem;
  margin-left: 7rem;
  border: solid 0.12rem #b8c9ff;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.move__special4::before {
  content: "";
  width: 217px;
  height: 10px;
  position: absolute;
  background: #7ed876;
  margin-top: 0.35rem;
  margin-left: 7rem;
  border: solid 0.12rem #b8c9ff;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
